openapi: 3.1.0
info:
  title: VeriMerkezi WhatsApp API
  description: |
    Tech Provider REST API for sending WhatsApp Business Cloud messages,
    managing contacts, templates, and business profiles.

    Per-message credit model. Test mode keys (`vmk_test_...`) are free.
  version: "2.0.0"
  contact:
    name: Veri Merkezi
    url: https://verimerkezi.app
    email: bilgi@verimerkezi.app
  license:
    name: Proprietary

servers:
  - url: https://api.verimerkezi.app/wa
    description: Production

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: "vmk_live_xxx or vmk_test_xxx"
      description: API key - create one at panel/api.

  schemas:
    MediaRecord:
      type: object
      properties:
        media_id:      { type: integer, example: 13115 }
        client_id:     { type: integer, nullable: true }
        kind:          { type: string, enum: [image, video, document, audio, sticker] }
        source:        { type: string, enum: [inbound, outbound] }
        mime:          { type: string, example: image/jpeg }
        size:          { type: integer, example: 108919 }
        sha256:        { type: string, nullable: true }
        original_name: { type: string, nullable: true }
        created_at:    { type: string, example: "2026-09-19 20:14:58" }
        download_url:  { type: string, example: "https://api.verimerkezi.app/wa/media/13115" }
    Error:
      type: object
      properties:
        ok: { type: boolean, example: false }
        error:
          type: object
          properties:
            code: { type: string, example: insufficient_credits }
            message: { type: string }
            field: { type: string, nullable: true }

    Contact:
      type: object
      properties:
        id: { type: integer }
        phone: { type: string, example: "+905551234567" }
        name: { type: string }
        email: { type: string, nullable: true }
        company: { type: string, nullable: true }
        tags: { type: array, items: { type: string } }
        source: { type: string }
        opted_out: { type: boolean }
        created_at: { type: string, format: date-time }

    Template:
      type: object
      properties:
        id: { type: integer }
        meta_template_id: { type: string, nullable: true }
        name: { type: string }
        language: { type: string, example: tr }
        category: { type: string, enum: [MARKETING, UTILITY, AUTHENTICATION] }
        status: { type: string, enum: [DRAFT, PENDING, APPROVED, REJECTED, FLAGGED, PAUSED] }
        components: { type: array, items: { type: object } }
        rejected_reason: { type: string, nullable: true }

    Number:
      type: object
      properties:
        id: { type: integer }
        waba_id: { type: string }
        phone_number_id: { type: string }
        display_phone_number: { type: string }
        verified_name: { type: string }
        quality_rating: { type: string, enum: [GREEN, YELLOW, RED, UNKNOWN] }
        status: { type: string }
        connection_type: { type: string, enum: [standard, coexistence] }

  parameters:
    IdempotencyKey:
      in: header
      name: Idempotency-Key
      required: false
      schema: { type: string }
      description: Replays cached response for duplicate requests (24h TTL).

paths:
  /me:
    get:
      summary: Account info and credit balance
      tags: [Account]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  user: { type: object }
                  api_key: { type: object }
                  credits:
                    type: object
                    properties:
                      balance: { type: integer }
                      packages: { type: array, items: { type: object } }

  /numbers:
    get:
      summary: List connected WhatsApp numbers
      tags: [Numbers]
      security: [{ BearerAuth: [profile:read] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  numbers:
                    type: array
                    items: { $ref: "#/components/schemas/Number" }

  /messages:
    post:
      summary: Send a template or text message
      description: |
        Live mode consumes 1 credit. Test mode is free.
        Media (image/video/audio/document) is free-form and only deliverable within the 24h customer service window; otherwise use a template. 1 credit. Provide media by public https `link` (or Meta media `id`). Limits: image ≤5MB, video ≤16MB, audio ≤16MB, document ≤100MB.
      tags: [Messages]
      security: [{ BearerAuth: [messages:send] }]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone_number_id, to]
              properties:
                phone_number_id: { type: string }
                to: { type: string, example: "905551234567" }
                type:
                  type: string
                  enum: [image, video, audio, document]
                  description: "Media type. Set when sending a free-form media message."
                template:
                  type: object
                  properties:
                    name: { type: string }
                    language: { type: string, example: tr }
                    otp:
                      type: string
                      example: "482913"
                      description: >-
                        Convenience field for AUTHENTICATION (OTP) templates. When set, the body and the
                        copy-code OTP button components are built automatically per Meta's rules
                        (ignored if `components` is provided).
                    components:
                      type: array
                      description: >-
                        Meta template component objects. Add a `body` component for body variables and,
                        for a dynamic URL button, a `button` component:
                        `{ "type": "button", "sub_type": "url", "index": 0, "parameters": [{ "type": "text", "text": "..." }] }`
                        — its parameters[0].text fills the trailing `{{1}}` of the template URL button
                        (one variable, at the end of the URL; API send only).
                      items: { type: object }
                text: { type: string, description: "Plain text body. Only within the 24h customer service window." }
                image:
                  type: object
                  description: "Image media. Provide a public https link (or Meta media id)."
                  properties:
                    link: { type: string, format: uri, example: "https://example.com/photo.jpg" }
                    caption: { type: string }
                video:
                  type: object
                  description: "Video media. Provide a public https link (or Meta media id)."
                  properties:
                    link: { type: string, format: uri, example: "https://example.com/video.mp4" }
                    caption: { type: string }
                audio:
                  type: object
                  description: "Audio media. Provide a public https link (or Meta media id)."
                  properties:
                    link: { type: string, format: uri, example: "https://example.com/audio.mp3" }
                document:
                  type: object
                  description: "Document media. Provide a public https link (or Meta media id)."
                  properties:
                    link: { type: string, format: uri, example: "https://example.com/file.pdf" }
                    caption: { type: string }
                    filename: { type: string, example: "fatura.pdf" }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  id: { type: integer }
                  wamid: { type: string }
                  to: { type: string }
                  type: { type: string, enum: [template, text, image, video, audio, document] }
                  status: { type: string, example: sent }
                  mode: { type: string, enum: [live, test] }
                  simulated: { type: boolean }
                  credits_used: { type: integer }
                  balance: { type: integer }
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        '404':
          description: Number not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        '422':
          description: Validation or Meta error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }


    get:
      summary: Reconciliation - list message records (recover missed webhooks)
      description: Read-only; does not consume credit or the send rate bucket. Ascending by time, cursor paginated.
      tags: [Messages]
      operationId: listMessages
      security: [{ BearerAuth: [messages:read] }, { BearerAuth: [inbox:read] }]
      parameters:
        - { name: phone_number_id, in: query, required: true, schema: { type: string } }
        - { name: since, in: query, schema: { type: string }, description: "ISO 8601, up to 90 days back" }
        - { name: cursor, in: query, schema: { type: integer } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 50 } }
      responses:
        '200': { description: OK }
        '404': { description: number_not_found }
        '422': { description: invalid_since or missing phone_number_id }
  /messages/read:
    post:
      summary: Mark an incoming message as read + optional typing indicator
      description: "Marks the incoming message as read (blue tick). typing:true shows a ~25s 'typing…' indicator. No credit."
      tags: [Messages]
      security: [{ BearerAuth: [messages:send] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone_number_id, message_id]
              properties:
                phone_number_id: { type: string }
                message_id: { type: string }
                typing: { type: boolean, default: false }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  marked_read: { type: boolean }
                  typing: { type: boolean }

  /contacts:
    get:
      summary: List contacts (cursor pagination)
      tags: [Contacts]
      security: [{ BearerAuth: [contacts:read] }]
      parameters:
        - in: query
          name: cursor
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, default: 50, maximum: 200 }
        - in: query
          name: q
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  contacts:
                    type: array
                    items: { $ref: "#/components/schemas/Contact" }
                  next_cursor: { type: string, nullable: true }
                  has_more: { type: boolean }
    post:
      summary: Create a single contact
      tags: [Contacts]
      security: [{ BearerAuth: [contacts:write] }]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, name]
              properties:
                phone: { type: string }
                name: { type: string }
                country_code: { type: string, default: "90" }
                email: { type: string }
                company: { type: string }
                tags: { type: array, items: { type: string } }
      responses:
        '201': { description: Created }
        '409':
          description: Duplicate
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /contacts/bulk:
    post:
      summary: Bulk insert contacts (max 1000)
      tags: [Contacts]
      security: [{ BearerAuth: [contacts:write] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contacts]
              properties:
                contacts:
                  type: array
                  maxItems: 1000
                  items:
                    type: object
                    properties:
                      phone: { type: string }
                      name: { type: string }
                      email: { type: string }
                      company: { type: string }
                      tags: { type: array, items: { type: string } }
                skip_duplicates: { type: boolean, default: true }
                country_code: { type: string, default: "90" }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  inserted: { type: integer }
                  skipped: { type: integer }
                  errors: { type: array, items: { type: object } }

  /templates:
    get:
      summary: List approved templates
      tags: [Templates]
      security: [{ BearerAuth: [templates:read] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  templates:
                    type: array
                    items: { $ref: "#/components/schemas/Template" }

  /profile/{phone_number_id}:
    get:
      summary: Read WhatsApp Business Profile
      tags: [Profile]
      security: [{ BearerAuth: [profile:read] }]
      parameters:
        - in: path
          name: phone_number_id
          required: true
          schema: { type: string }
      responses:
        '200': { description: OK }
        '404':
          description: Number not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    patch:
      summary: Update WhatsApp Business Profile
      tags: [Profile]
      security: [{ BearerAuth: [profile:write] }]
      parameters:
        - in: path
          name: phone_number_id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                about: { type: string, maxLength: 139 }
                description: { type: string, maxLength: 512 }
                address: { type: string, maxLength: 256 }
                email: { type: string }
                vertical: { type: string }
                websites: { type: array, maxItems: 2, items: { type: string } }
      responses:
        '200': { description: Updated }

  /reports/summary:
    get:
      summary: Report summary
      tags: [Reports]
      security: [{ BearerAuth: [reports:read] }]
      parameters:
        - in: query
          name: period
          schema: { type: string, enum: [7d, 30d, 90d], default: 30d }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  period: { type: string }
                  sent: { type: integer }
                  delivered: { type: integer }
                  read: { type: integer }
                  failed: { type: integer }
                  delivery_rate: { type: number }
                  read_rate: { type: number }
                  failure_rate: { type: number }
                  balance: { type: integer }

  /credit/balance:
    get:
      summary: Current credit balance
      tags: [Credit]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  balance: { type: integer }

  /credit/packages:
    get:
      summary: List available credit packages
      tags: [Credit]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  packages:
                    type: array
                    items: { type: object }

  /credit/usage:
    get:
      summary: Credit usage over a window
      tags: [Credit]
      security: [{ BearerAuth: [reports:read] }]
      parameters:
        - in: query
          name: days
          schema: { type: integer, default: 30 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  days: { type: integer }
                  usage: { type: array, items: { type: object } }

  /credit/transactions:
    get:
      summary: List credit transactions (cursor pagination)
      tags: [Credit]
      security: [{ BearerAuth: [reports:read] }]
      parameters:
        - in: query
          name: limit
          schema: { type: integer, default: 50, maximum: 200 }
        - in: query
          name: cursor
          schema: { type: string }
        - in: query
          name: type
          schema: { type: string }
        - in: query
          name: source
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  transactions:
                    type: array
                    items: { type: object }
                  next_cursor: { type: string, nullable: true }
                  has_more: { type: boolean }
  /media:
    get:
      summary: List your media records (inbound and outbound)
      description: |
        Returns media belonging to the authenticated account, newest first.
        Only your own records are visible.
      tags: [Media]
      security: [{ BearerAuth: [messages:read] }, { BearerAuth: [inbox:read] }]
      parameters:
        - { name: limit,  in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 50 } }
        - { name: cursor, in: query, schema: { type: integer }, description: Return records with id lower than this }
        - { name: source, in: query, schema: { type: string, enum: [inbound, outbound] } }
        - { name: kind,   in: query, schema: { type: string, enum: [image, video, document, audio, sticker] } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  media:
                    type: array
                    items: { $ref: "#/components/schemas/MediaRecord" }
                  paging:
                    type: object
                    properties:
                      limit:       { type: integer }
                      has_more:    { type: boolean }
                      next_cursor: { type: integer, nullable: true }
        '403': { description: insufficient_scope }


    post:
      summary: Upload a file to Meta and get a media_id
      description: >
        Multipart upload. Returns a Meta media_id (valid 30 days) to use as {type}.id in POST /messages.
        Different from GET /media/{media_id}, which downloads inbound media from storage. Counts in the media rate bucket.
      tags: [Media]
      operationId: uploadMedia
      security: [{ BearerAuth: [messages:send] }]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, phone_number_id]
              properties:
                file: { type: string, format: binary }
                phone_number_id: { type: string }
      responses:
        '201':
          description: Uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  media_id: { type: string }
                  type: { type: string, enum: [image, video, audio, document, sticker] }
                  mime_type: { type: string }
                  file_size: { type: integer }
                  expires_at: { type: string }
                  mode: { type: string, enum: [live, test] }
        '413': { description: media_too_large }
        '415': { description: media_invalid_format or unsupported_media_type }
        '422': { description: meta_upload_failed }
  /media/{media_id}:
    get:
      summary: Download a media file
      description: |
        Streams the binary file. Use the `media_id` delivered in the
        `data.media.media_id` field of the `message.received` webhook.

        Add `?meta=1` to receive JSON metadata instead of the file.

        Supports `Range` (206 Partial Content) and `ETag` / `If-None-Match` (304).
        Direct HTTP access to the storage path is disabled; this endpoint is the
        only way to read inbound media.

        Rate limit: 60 requests per minute (separate bucket from other endpoints).
      tags: [Media]
      security: [{ BearerAuth: [messages:read] }, { BearerAuth: [inbox:read] }]
      parameters:
        - { name: media_id, in: path,  required: true, schema: { type: integer } }
        - { name: meta,     in: query, schema: { type: integer, enum: [0, 1] }, description: "1 returns JSON metadata" }
        - name: Range
          in: header
          schema: { type: string }
          example: bytes=0-1048575
        - name: If-None-Match
          in: header
          schema: { type: string }
      responses:
        '200':
          description: The file
          headers:
            Content-Type:            { schema: { type: string } }
            Content-Length:          { schema: { type: integer } }
            Content-Disposition:     { schema: { type: string } }
            ETag:                    { schema: { type: string } }
            Accept-Ranges:           { schema: { type: string } }
            X-Content-Type-Options:  { schema: { type: string } }
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
            application/json:
              schema:
                type: object
                description: Returned only when meta=1
                properties:
                  ok:    { type: boolean }
                  media: { $ref: "#/components/schemas/MediaRecord" }
        '206': { description: Partial content (Range) }
        '304': { description: Not modified (ETag matched) }
        '400': { description: invalid_media_id }
        '403': { description: insufficient_scope }
        '404': { description: media_not_found or media_file_missing (also returned for another account's media) }
        '416': { description: range_not_satisfiable }
    head:
      summary: Media headers without the body
      description: Returns Content-Length and Content-Type without transferring the file.
      tags: [Media]
      security: [{ BearerAuth: [messages:read] }, { BearerAuth: [inbox:read] }]
      parameters:
        - { name: media_id, in: path, required: true, schema: { type: integer } }
      responses:
        '200': { description: Headers only }
        '404': { description: Not found }
  /webhooks/redeliver:
    post:
      summary: Requeue dead-letter webhook deliveries
      tags: [Webhooks]
      operationId: redeliverWebhooks
      security: [{ BearerAuth: [webhooks:write] }, { BearerAuth: [messages:read] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [since]
              properties:
                since: { type: string, description: "ISO 8601, up to 7 days back" }
      responses:
        '202': { description: Requeued }
        '422': { description: invalid_since }

  /numbers/{phone_number_id}/history-import:
    get:
      summary: Coexistence history-import status
      tags: [Numbers]
      operationId: historyImportStatus
      security: [{ BearerAuth: [profile:read] }]
      parameters:
        - { name: phone_number_id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: OK }
        '404': { description: number_not_found }
    post:
      summary: Start history import manually (if auto-start was missed)
      tags: [Numbers]
      operationId: startHistoryImport
      security: [{ BearerAuth: [profile:write] }]
      parameters:
        - { name: phone_number_id, in: path, required: true, schema: { type: string } }
      responses:
        '202': { description: Requested }
        '409': { description: history_window_expired or already started }
        '422': { description: history_not_applicable }

  /numbers/{phone_number_id}/settings:
    patch:
      summary: Per-number automation / opt-out auto-reply toggle
      tags: [Numbers]
      operationId: numberSettings
      security: [{ BearerAuth: [profile:write] }]
      parameters:
        - { name: phone_number_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                automation_enabled: { type: boolean }
                opt_out_autoreply_enabled: { type: boolean }
      responses:
        '200': { description: OK }
        '404': { description: number_not_found }
        '422': { description: invalid_request }

  /health:
    get:
      summary: Webhook delivery health (queue depth, p95 latency)
      tags: [Numbers]
      operationId: health
      security: [{ BearerAuth: [] }]
      responses:
        '200': { description: OK }
