openapi: 3.1.0
info:
  title: VeriMerkezi WhatsApp API
  description: |
    Tech Provider REST API for sending WhatsApp Business Cloud messages,
    managing contacts, templates, and business profiles.

    Per-message credit model. Test mode keys (`vmk_test_...`) are free and never send to Meta
    (the returned wamid is a fake `test.<hex>` id).

    API version 2.19.2 (2026-10-08) - 50 endpoints; docs, OpenAPI, SDKs and Postman share this version.
  version: "2.19.2"
  contact:
    name: Veri Merkezi
    url: https://verimerkezi.app
    email: bilgi@verimerkezi.app
  license:
    name: Proprietary

servers:
  - url: https://api.verimerkezi.app/wa
    description: Production

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: "vmk_live_xxx or vmk_test_xxx"
      description: API key - create one at panel/api.

  schemas:
    MediaRecord:
      type: object
      properties:
        media_id:      { type: integer, example: 13115 }
        client_id:     { type: integer, nullable: true }
        kind:          { type: string, enum: [image, video, document, audio, sticker] }
        source:        { type: string, enum: [inbound, outbound] }
        mime:          { type: string, example: image/jpeg }
        size:          { type: integer, example: 108919 }
        sha256:        { type: string, nullable: true }
        original_name: { type: string, nullable: true }
        created_at:    { type: string, example: "2026-09-19 20:14:58" }
        download_url:  { type: string, example: "https://api.verimerkezi.app/wa/media/13115" }
    Error:
      type: object
      properties:
        ok: { type: boolean, example: false }
        error:
          type: object
          properties:
            code: { type: string, example: insufficient_credits }
            message: { type: string }
            field: { type: string, nullable: true }

    Contact:
      type: object
      properties:
        id: { type: integer }
        phone: { type: string, example: "+905551234567" }
        name: { type: string }
        email: { type: string, nullable: true }
        company: { type: string, nullable: true }
        tags: { type: array, items: { type: string } }
        source: { type: string }
        opted_out: { type: boolean }
        opted_out_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }

    CallingSettings:
      type: object
      properties:
        ok: { type: boolean }
        phone_number_id: { type: string }
        enabled: { type: boolean }
        callback_permission: { type: [boolean, "null"] }
        call_icon_visibility: { type: [string, "null"] }
        call_hours: { type: [object, "null"] }
        messaging_limit_tier: { type: [string, "null"] }
        messaging_limit_ok: { type: [boolean, "null"], description: "Calling requires a messaging limit of at least 2000" }
        raw: { type: object }
    Call:
      type: object
      properties:
        call_id: { type: string }
        phone_number_id: { type: string }
        direction: { type: string, enum: [user_initiated, business_initiated] }
        from: { type: [string, "null"] }
        to: { type: [string, "null"] }
        status: { type: string, enum: [initiated, ringing, pre_accepted, accepted, terminating, rejected, missed, failed, completed] }
        started_at: { type: [string, "null"], format: date-time }
        ended_at: { type: [string, "null"], format: date-time }
        duration_sec: { type: [integer, "null"] }
        billable_pulses: { type: [integer, "null"], description: "ceil(duration/6), business-initiated only; informational (Meta bills directly)" }
        last_action: { type: [string, "null"] }
        errors: { type: [array, "null"] }
        is_test: { type: boolean }
        created_at: { type: string, format: date-time }
    CallAnswer:
      type: object
      required: [sdp_answer]
      properties:
        sdp_answer: { type: string, description: "WebRTC SDP answer (RFC 8866)" }
        call_id: { type: string, description: "Only when the path segment is '_'" }

    Template:
      type: object
      properties:
        id: { type: integer }
        meta_template_id: { type: string, nullable: true }
        name: { type: string }
        language: { type: string, example: tr }
        category: { type: string, enum: [MARKETING, UTILITY, AUTHENTICATION] }
        status: { type: string, enum: [DRAFT, PENDING, APPROVED, REJECTED, PAUSED, DISABLED] }
        components: { type: array, items: { type: object } }
        rejected_reason: { type: string, nullable: true }
        quality_score: { type: string, nullable: true }
        waba_id: { type: string, nullable: true }
        phone_number_id: { type: string, nullable: true }
        created_at: { type: string, nullable: true }
        submitted_at: { type: string, nullable: true }
        status_updated_at: { type: string, nullable: true }

    WebhookEvent:
      type: string
      description: |
        28 events. A '*' subscription covers ONLY the 12 classic events (message.received ..
        account.alert). The other 16 (message.revoked/edited/history/sent, number.status_changed,
        number.name_changed, credit.low/exhausted, privacy.erasure_completed, contact.opt_out_changed,
        template.category_changed/quality_changed, call.connect/status/terminate/permission_reply)
        must be selected explicitly.
      enum:
        - "*"
        - "message.received"
        - "message.echo"
        - "message.status.sent"
        - "message.status.delivered"
        - "message.status.read"
        - "message.status.failed"
        - "template.approved"
        - "template.rejected"
        - "template.flagged"
        - "template.paused"
        - "quality.changed"
        - "account.alert"
        - "message.revoked"
        - "message.edited"
        - "message.history"
        - "message.sent"
        - "number.status_changed"
        - "credit.low"
        - "credit.exhausted"
        - "privacy.erasure_completed"
        - "contact.opt_out_changed"
        - "template.category_changed"
        - "template.quality_changed"
        - "number.name_changed"
        - "call.connect"
        - "call.status"
        - "call.terminate"
        - "call.permission_reply"

    WebhookSubscription:
      type: object
      properties:
        id: { type: integer }
        name: { type: string, nullable: true }
        url: { type: string, format: uri }
        events: { type: array, items: { $ref: "#/components/schemas/WebhookEvent" } }
        active: { type: boolean }
        secret_prefix: { type: string, nullable: true }
        last_success_at: { type: string, nullable: true }
        last_failure_at: { type: string, nullable: true }
        failure_count: { type: integer }
        created_at: { type: string, nullable: true }

    Number:
      type: object
      properties:
        id: { type: integer }
        waba_id: { type: string }
        phone_number_id: { type: string }
        display_phone_number: { type: string }
        verified_name: { type: string }
        quality_rating: { type: string, enum: [GREEN, YELLOW, RED, UNKNOWN] }
        status: { type: string }
        connection_type: { type: string, enum: [standard, coexistence] }

  parameters:
    IdempotencyKey:
      in: header
      name: Idempotency-Key
      required: false
      schema: { type: string }
      description: Replays cached response for duplicate requests (24h TTL).

paths:
  /me:
    get:
      summary: Account info and credit balance
      tags: [Account]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  user: { type: object }
                  api_key: { type: object }
                  credits:
                    type: object
                    properties:
                      balance: { type: integer }
                      packages: { type: array, items: { type: object } }

  /numbers:
    get:
      summary: List connected WhatsApp numbers
      tags: [Numbers]
      security: [{ BearerAuth: ["profile:read"] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  numbers:
                    type: array
                    items: { $ref: "#/components/schemas/Number" }

  /messages:
    post:
      summary: Send a template or text message
      description: |
        Live mode consumes 1 credit. Test mode is free.
        Media (image/video/audio/document) is free-form and only deliverable within the 24h customer service window; otherwise use a template. 1 credit. Provide media by public https `link` (or Meta media `id`). Limits: image ≤5MB, video ≤16MB, audio ≤16MB, document ≤100MB.
      tags: [Messages]
      security: [{ BearerAuth: ["messages:send"] }]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone_number_id, to]
              properties:
                phone_number_id: { type: string }
                to: { type: string, example: "905551234567" }
                type:
                  type: string
                  enum: [image, video, audio, document]
                  description: "Media type. Set when sending a free-form media message."
                template:
                  type: object
                  properties:
                    name: { type: string }
                    language: { type: string, example: tr }
                    otp:
                      type: string
                      example: "482913"
                      description: >-
                        Convenience field for AUTHENTICATION (OTP) templates. When set, the body and the
                        copy-code OTP button components are built automatically per Meta's rules
                        (ignored if `components` is provided).
                    components:
                      type: array
                      description: >-
                        Meta template component objects. Add a `body` component for body variables and,
                        for a dynamic URL button, a `button` component:
                        `{ "type": "button", "sub_type": "url", "index": 0, "parameters": [{ "type": "text", "text": "..." }] }`
                        — its parameters[0].text fills the trailing `{{1}}` of the template URL button
                        (one variable, at the end of the URL; API send only).
                      items: { type: object }
                text:
                  description: >-
                    Plain text body, as a string or as an object `{ "body": "..." }` (the `body` value is used).
                    A non-string body returns 422 invalid_request (field "text").
                    Only within the 24h customer service window.
                  oneOf:
                    - { type: string }
                    - type: object
                      properties:
                        body: { type: string }
                        preview_url: { type: boolean }
                      required: [body]
                image:
                  type: object
                  description: "Image media. Provide a public https link (or Meta media id)."
                  properties:
                    link: { type: string, format: uri, example: "https://example.com/photo.jpg" }
                    caption: { type: string }
                video:
                  type: object
                  description: "Video media. Provide a public https link (or Meta media id)."
                  properties:
                    link: { type: string, format: uri, example: "https://example.com/video.mp4" }
                    caption: { type: string }
                audio:
                  type: object
                  description: "Audio media. Provide a public https link (or Meta media id)."
                  properties:
                    link: { type: string, format: uri, example: "https://example.com/audio.mp3" }
                    id: { type: string, description: "Meta media id (from POST /media)." }
                    voice:
                      type: boolean
                      description: >-
                        Send as a WhatsApp voice note (OGG/Opus only, preferably mono). If omitted, set
                        automatically to true when the media is audio/ogg on Meta or the link ends with
                        .ogg/.opus. Non-boolean value -> 422 invalid_media (field "audio.voice").
                document:
                  type: object
                  description: "Document media. Provide a public https link (or Meta media id)."
                  properties:
                    link: { type: string, format: uri, example: "https://example.com/file.pdf" }
                    caption: { type: string }
                    filename: { type: string, example: "fatura.pdf" }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  id: { type: integer }
                  wamid: { type: string }
                  to: { type: string }
                  type: { type: string, enum: [template, text, image, video, audio, document] }
                  status: { type: string, example: sent }
                  mode: { type: string, enum: [live, test] }
                  simulated: { type: boolean }
                  credits_used: { type: integer }
                  balance: { type: integer }
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        '404':
          description: Number not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        '422':
          description: Validation or Meta error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }


    get:
      summary: Reconciliation - list message records (recover missed webhooks)
      description: Read-only; does not consume credit or the send rate bucket. Ascending by time, cursor paginated.
      tags: [Messages]
      operationId: listMessages
      security: [{ BearerAuth: ["messages:read"] }, { BearerAuth: ["inbox:read"] }]
      parameters:
        - { name: phone_number_id, in: query, required: true, schema: { type: string } }
        - { name: since, in: query, schema: { type: string }, description: "ISO 8601, up to 90 days back" }
        - { name: cursor, in: query, schema: { type: integer } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 50 } }
      responses:
        '200': { description: OK }
        '404': { description: number_not_found }
        '422': { description: invalid_since or missing phone_number_id }
  /messages/read:
    post:
      summary: Mark an incoming message as read + optional typing indicator
      description: "Marks the incoming message as read (blue tick). typing:true shows a ~25s 'typing…' indicator. No credit."
      tags: [Messages]
      security: [{ BearerAuth: ["messages:send"] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone_number_id, message_id]
              properties:
                phone_number_id: { type: string }
                message_id: { type: string }
                typing: { type: boolean, default: false }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  marked_read: { type: boolean }
                  typing: { type: boolean }

  /contacts:
    get:
      summary: List contacts (cursor pagination)
      tags: [Contacts]
      security: [{ BearerAuth: ["contacts:read"] }]
      parameters:
        - in: query
          name: cursor
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, default: 50, maximum: 200 }
        - in: query
          name: q
          schema: { type: string }
        - in: query
          name: opted_out
          description: Filter by opt-out state (optional).
          schema: { type: boolean }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  contacts:
                    type: array
                    items: { $ref: "#/components/schemas/Contact" }
                  next_cursor: { type: string, nullable: true }
                  has_more: { type: boolean }
    post:
      summary: Create a single contact
      tags: [Contacts]
      security: [{ BearerAuth: ["contacts:write"] }]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, name]
              properties:
                phone: { type: string }
                name: { type: string }
                country_code: { type: string, default: "90" }
                email: { type: string }
                company: { type: string }
                tags: { type: array, items: { type: string } }
      responses:
        '201': { description: Created }
        '409':
          description: Duplicate
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /contacts/opted-out:
    get:
      summary: List contacts who opted out (cursor pagination)
      description: >-
        Contacts whose opted_out flag is true, ordered by id desc. Use `since` for incremental sync
        together with the `contact.opt_out_changed` webhook event. Added in 2.16.0.
      tags: [Contacts]
      security: [{ BearerAuth: ["contacts:read"] }]
      parameters:
        - in: query
          name: limit
          schema: { type: integer, default: 50, minimum: 1, maximum: 200 }
        - in: query
          name: cursor
          description: Opaque cursor (same format as /contacts).
          schema: { type: string }
        - in: query
          name: since
          description: ISO 8601; only contacts with opted_out_at >= since.
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  contacts:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: integer }
                        phone: { type: string, example: "+905551234567" }
                        name: { type: string, nullable: true }
                        opted_out: { type: boolean }
                        opted_out_at: { type: string, format: date-time, nullable: true }
                        reason: { type: string, nullable: true }
                  next_cursor: { type: string, nullable: true }
                  has_more: { type: boolean }
        '401': { description: Invalid or missing API key }
        '403': { description: "Missing contacts:read scope" }
        '422':
          description: Invalid `since` (error.field = "since")
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        '429': { description: Rate limited }

  /contacts/bulk:
    post:
      summary: Bulk insert contacts (max 1000)
      tags: [Contacts]
      security: [{ BearerAuth: ["contacts:write"] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contacts]
              properties:
                contacts:
                  type: array
                  maxItems: 1000
                  items:
                    type: object
                    properties:
                      phone: { type: string }
                      name: { type: string }
                      email: { type: string }
                      company: { type: string }
                      tags: { type: array, items: { type: string } }
                skip_duplicates: { type: boolean, default: true }
                country_code: { type: string, default: "90" }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  inserted: { type: integer }
                  skipped: { type: integer }
                  errors: { type: array, items: { type: object } }

  /templates:
    get:
      summary: List templates (filterable, cursor-paginated)
      tags: [Templates]
      operationId: listTemplates
      security: [{ BearerAuth: ["templates:read"] }]
      parameters:
        - { name: status, in: query, required: false, schema: { type: string, enum: [DRAFT, PENDING, APPROVED, REJECTED, PAUSED, DISABLED] } }
        - { name: category, in: query, required: false, schema: { type: string, enum: [MARKETING, UTILITY, AUTHENTICATION] } }
        - { name: language, in: query, required: false, schema: { type: string } }
        - { name: q, in: query, required: false, schema: { type: string }, description: "Search in template name" }
        - { name: cursor, in: query, required: false, schema: { type: string } }
        - { name: limit, in: query, required: false, schema: { type: integer, default: 50 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  templates:
                    type: array
                    items: { $ref: "#/components/schemas/Template" }
                  has_more: { type: boolean }
                  next_cursor: { type: string, nullable: true }
    post:
      summary: Create a template and submit it to Meta
      tags: [Templates]
      operationId: createTemplate
      security: [{ BearerAuth: ["templates:write"] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, language, category, components]
              properties:
                waba_id: { type: string, description: "Target WABA (waba_id or phone_number_id required)" }
                phone_number_id: { type: string, description: "Alternative to waba_id; WABA resolved from the number" }
                name: { type: string }
                language: { type: string, example: tr }
                category: { type: string, enum: [MARKETING, UTILITY, AUTHENTICATION] }
                allow_category_change: { type: boolean }
                header_media_url: { type: string, format: uri, description: "Public https URL for an IMAGE/VIDEO/DOCUMENT header; downloaded and uploaded to Meta as header_handle" }
                components: { type: array, items: { type: object } }
      responses:
        '202':
          description: Accepted (status PENDING)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Template" }
        '404': { description: number_or_waba_not_found }
        '422':
          description: template_invalid (pre-Meta validation) or template_rejected (Meta)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /templates/validate:
    post:
      summary: Validate template components without sending to Meta
      tags: [Templates]
      operationId: validateTemplate
      security: [{ BearerAuth: ["templates:read"] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [components]
              properties:
                waba_id: { type: string }
                phone_number_id: { type: string }
                name: { type: string }
                language: { type: string }
                category: { type: string, enum: [MARKETING, UTILITY, AUTHENTICATION] }
                components: { type: array, items: { type: object } }
      responses:
        '200':
          description: valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  valid: { type: boolean }
                  message: { type: string }
        '422': { description: template_invalid }

  /templates/{id}:
    get:
      summary: Template detail
      tags: [Templates]
      operationId: getTemplate
      security: [{ BearerAuth: ["templates:read"] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Template" }
        '404': { description: template_not_found }
    patch:
      summary: Edit a template (re-submits, status PENDING)
      tags: [Templates]
      operationId: updateTemplate
      security: [{ BearerAuth: ["templates:write"] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [components]
              properties:
                components: { type: array, items: { type: object } }
                category: { type: string, enum: [MARKETING, UTILITY, AUTHENTICATION] }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Template" }
        '404': { description: template_not_found }
        '422': { description: template_edit_failed }
    delete:
      summary: Delete a template
      tags: [Templates]
      operationId: deleteTemplate
      security: [{ BearerAuth: ["templates:write"] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  deleted: { type: boolean }
                  id: { type: integer }
        '404': { description: template_not_found }

  /profile/{phone_number_id}:
    get:
      summary: Read WhatsApp Business Profile
      tags: [Profile]
      security: [{ BearerAuth: ["profile:read"] }]
      parameters:
        - in: path
          name: phone_number_id
          required: true
          schema: { type: string }
      responses:
        '200': { description: OK }
        '404':
          description: Number not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    patch:
      summary: Update WhatsApp Business Profile
      tags: [Profile]
      security: [{ BearerAuth: ["profile:write"] }]
      parameters:
        - in: path
          name: phone_number_id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                about: { type: string, maxLength: 139 }
                description: { type: string, maxLength: 512 }
                address: { type: string, maxLength: 256 }
                email: { type: string }
                vertical: { type: string }
                websites: { type: array, maxItems: 2, items: { type: string } }
      responses:
        '200': { description: Updated }

  /reports/summary:
    get:
      summary: Report summary
      tags: [Reports]
      security: [{ BearerAuth: ["reports:read"] }]
      parameters:
        - in: query
          name: period
          schema: { type: string, enum: [7d, 30d, 90d], default: 30d }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  period: { type: string }
                  sent: { type: integer }
                  delivered: { type: integer }
                  read: { type: integer }
                  failed: { type: integer }
                  delivery_rate: { type: number }
                  read_rate: { type: number }
                  failure_rate: { type: number }
                  balance: { type: integer }

  /credit/balance:
    get:
      summary: Current credit balance
      tags: [Credit]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  balance: { type: integer }

  /credit/packages:
    get:
      summary: List available credit packages
      tags: [Credit]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  packages:
                    type: array
                    items: { type: object }

  /credit/usage:
    get:
      summary: Credit usage over a window
      tags: [Credit]
      security: [{ BearerAuth: ["reports:read"] }]
      parameters:
        - in: query
          name: days
          schema: { type: integer, default: 30 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  days: { type: integer }
                  usage: { type: array, items: { type: object } }

  /credit/transactions:
    get:
      summary: List credit transactions (cursor pagination)
      tags: [Credit]
      security: [{ BearerAuth: ["reports:read"] }]
      parameters:
        - in: query
          name: limit
          schema: { type: integer, default: 50, maximum: 200 }
        - in: query
          name: cursor
          schema: { type: string }
        - in: query
          name: type
          schema: { type: string }
        - in: query
          name: source
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  transactions:
                    type: array
                    items: { type: object }
                  next_cursor: { type: string, nullable: true }
                  has_more: { type: boolean }
  /media:
    get:
      summary: List your media records (inbound and outbound)
      description: |
        Returns media belonging to the authenticated account, newest first.
        Only your own records are visible.
      tags: [Media]
      security: [{ BearerAuth: ["messages:read"] }, { BearerAuth: ["inbox:read"] }]
      parameters:
        - { name: limit,  in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 50 } }
        - { name: cursor, in: query, schema: { type: integer }, description: Return records with id lower than this }
        - { name: source, in: query, schema: { type: string, enum: [inbound, outbound] } }
        - { name: kind,   in: query, schema: { type: string, enum: [image, video, document, audio, sticker] } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  media:
                    type: array
                    items: { $ref: "#/components/schemas/MediaRecord" }
                  paging:
                    type: object
                    properties:
                      limit:       { type: integer }
                      has_more:    { type: boolean }
                      next_cursor: { type: integer, nullable: true }
        '403': { description: insufficient_scope }


    post:
      summary: Upload a file to Meta and get a media_id
      description: >
        Multipart upload. Returns a Meta media_id (valid 30 days) to use as {type}.id in POST /messages.
        Different from GET /media/{media_id}, which downloads inbound media from storage. Counts in the media rate bucket.
      tags: [Media]
      operationId: uploadMedia
      security: [{ BearerAuth: ["messages:send"] }]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, phone_number_id]
              properties:
                file: { type: string, format: binary }
                phone_number_id: { type: string }
      responses:
        '201':
          description: Uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  media_id: { type: string }
                  type: { type: string, enum: [image, video, audio, document, sticker] }
                  mime_type: { type: string }
                  file_size: { type: integer }
                  expires_at: { type: string }
                  mode: { type: string, enum: [live, test] }
        '413': { description: media_too_large }
        '415': { description: media_invalid_format or unsupported_media_type }
        '422': { description: meta_upload_failed }
  /media/{media_id}:
    get:
      summary: Download a media file
      description: |
        Streams the binary file. Use the `media_id` delivered in the
        `data.media.media_id` field of the `message.received` webhook.

        Add `?meta=1` to receive JSON metadata instead of the file.

        Supports `Range` (206 Partial Content) and `ETag` / `If-None-Match` (304).
        Direct HTTP access to the storage path is disabled; this endpoint is the
        only way to read inbound media.

        Rate limit: 60 requests per minute (separate bucket from other endpoints).
      tags: [Media]
      security: [{ BearerAuth: ["messages:read"] }, { BearerAuth: ["inbox:read"] }]
      parameters:
        - { name: media_id, in: path,  required: true, schema: { type: integer } }
        - { name: meta,     in: query, schema: { type: integer, enum: [0, 1] }, description: "1 returns JSON metadata" }
        - name: Range
          in: header
          schema: { type: string }
          example: bytes=0-1048575
        - name: If-None-Match
          in: header
          schema: { type: string }
      responses:
        '200':
          description: The file
          headers:
            Content-Type:            { schema: { type: string } }
            Content-Length:          { schema: { type: integer } }
            Content-Disposition:     { schema: { type: string } }
            ETag:                    { schema: { type: string } }
            Accept-Ranges:           { schema: { type: string } }
            X-Content-Type-Options:  { schema: { type: string } }
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
            application/json:
              schema:
                type: object
                description: Returned only when meta=1
                properties:
                  ok:    { type: boolean }
                  media: { $ref: "#/components/schemas/MediaRecord" }
        '206': { description: Partial content (Range) }
        '304': { description: Not modified (ETag matched) }
        '400': { description: invalid_media_id }
        '403': { description: insufficient_scope }
        '404': { description: media_not_found or media_file_missing (also returned for another account's media) }
        '416': { description: range_not_satisfiable }
    head:
      summary: Media headers without the body
      description: Returns Content-Length and Content-Type without transferring the file.
      tags: [Media]
      security: [{ BearerAuth: ["messages:read"] }, { BearerAuth: ["inbox:read"] }]
      parameters:
        - { name: media_id, in: path, required: true, schema: { type: integer } }
      responses:
        '200': { description: Headers only }
        '404': { description: Not found }
  /webhooks/redeliver:
    post:
      summary: Requeue dead-letter webhook deliveries
      tags: [Webhooks]
      operationId: redeliverWebhooks
      security: [{ BearerAuth: ["webhooks:write"] }, { BearerAuth: ["messages:read"] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [since]
              properties:
                since: { type: string, description: "ISO 8601, up to 7 days back" }
      responses:
        '202': { description: Requeued }
        '422': { description: invalid_since }

  /webhooks:
    get:
      summary: List webhook subscriptions
      tags: [Webhooks]
      operationId: listWebhooks
      security: [{ BearerAuth: ["webhooks:read"] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhooks:
                    type: array
                    items: { $ref: "#/components/schemas/WebhookSubscription" }
    post:
      summary: Create a webhook subscription (secret returned once)
      tags: [Webhooks]
      operationId: createWebhook
      security: [{ BearerAuth: ["webhooks:write"] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url: { type: string, format: uri, description: "Public https endpoint" }
                events: { type: array, items: { $ref: "#/components/schemas/WebhookEvent" }, description: "Defaults to ['*'] (covers the 12 classic events only)" }
                description: { type: string }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: integer }
                  url: { type: string }
                  events: { type: array, items: { $ref: "#/components/schemas/WebhookEvent" } }
                  active: { type: boolean }
                  secret: { type: string, description: "Returned ONCE at creation" }
                  secret_prefix: { type: string }
                  note: { type: string, description: "Present when '*' selected; lists new events not covered by '*'" }
        '422': { description: invalid_request or invalid_webhook (bad/private URL) }

  /webhooks/{id}:
    patch:
      summary: Update a webhook subscription
      tags: [Webhooks]
      operationId: updateWebhook
      security: [{ BearerAuth: ["webhooks:write"] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url: { type: string, format: uri }
                events: { type: array, items: { $ref: "#/components/schemas/WebhookEvent" } }
                active: { type: boolean }
                description: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/WebhookSubscription" }
        '404': { description: webhook_not_found }
        '422': { description: invalid_webhook }
    delete:
      summary: Delete a webhook subscription
      tags: [Webhooks]
      operationId: deleteWebhook
      security: [{ BearerAuth: ["webhooks:write"] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  deleted: { type: boolean }
                  id: { type: integer }
        '404': { description: webhook_not_found }

  /webhooks/{id}/test:
    post:
      summary: Send a test.ping delivery to a subscription
      tags: [Webhooks]
      operationId: testWebhook
      security: [{ BearerAuth: ["webhooks:write"] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  result: { type: string, example: delivered }
        '404': { description: webhook_not_found }

  /webhooks/{id}/rotate-secret:
    post:
      summary: Rotate the subscription secret in place (new secret returned once)
      description: |
        Subscription id, stats and history are kept. During grace_seconds the old secret is still sent
        as a second signature in the X-VeriMerkezi-Signature-256-Previous header.
      tags: [Webhooks]
      operationId: rotateWebhookSecret
      security: [{ BearerAuth: ["webhooks:write"] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                grace_seconds: { type: integer, minimum: 0, maximum: 604800, default: 86400 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  id: { type: integer }
                  secret: { type: string, description: "Returned ONLY now - store securely" }
                  secret_prefix: { type: string }
                  previous_valid_until: { type: [string, "null"], description: "Old secret stays valid (second signature) until this time" }
        '400': { description: invalid_request }
        '404': { description: webhook_not_found }
        '422': { description: invalid_request (grace_seconds out of range) }

  /numbers/{phone_number_id}/history-import:
    get:
      summary: Coexistence history-import status
      tags: [Numbers]
      operationId: historyImportStatus
      security: [{ BearerAuth: ["profile:read"] }]
      parameters:
        - { name: phone_number_id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: OK }
        '404': { description: number_not_found }
    post:
      summary: Start history import manually (if auto-start was missed)
      tags: [Numbers]
      operationId: startHistoryImport
      security: [{ BearerAuth: ["profile:write"] }]
      parameters:
        - { name: phone_number_id, in: path, required: true, schema: { type: string } }
      responses:
        '202': { description: Requested }
        '409': { description: history_window_expired or already started }
        '422': { description: history_not_applicable }

  /numbers/{phone_number_id}/settings:
    patch:
      summary: Per-number automation / opt-out auto-reply toggle
      tags: [Numbers]
      operationId: numberSettings
      security: [{ BearerAuth: ["profile:write"] }]
      parameters:
        - { name: phone_number_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                automation_enabled: { type: boolean }
                opt_out_autoreply_enabled: { type: boolean }
      responses:
        '200': { description: OK }
        '404': { description: number_not_found }
        '422': { description: invalid_request }

  /health:
    get:
      summary: Webhook delivery health (queue depth, p95 latency)
      tags: [Numbers]
      operationId: health
      security: [{ BearerAuth: [] }]
      responses:
        '200': { description: OK }

  /account/settings:
    patch:
      summary: Account-level settings (applied to all numbers + defaults for new numbers)
      tags: [Account]
      operationId: accountSettings
      security: [{ BearerAuth: ["profile:write"] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              description: At least one field. All values must be JSON booleans.
              properties:
                revoke_edit_clean: { type: boolean, description: "Applied to ALL existing numbers" }
                automation_enabled: { type: boolean, description: "Applied to ALL existing numbers" }
                opt_out_autoreply_enabled: { type: boolean, description: "Applied to ALL existing numbers" }
                default_automation_enabled: { type: boolean, description: "Default for numbers connected later" }
                default_opt_out_autoreply_enabled: { type: boolean, description: "Default for numbers connected later" }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  numbers_updated: { type: integer }
                  numbers_total: { type: integer }
                  settings:
                    type: object
                    properties:
                      revoke_edit_clean: { type: boolean, description: "true when enabled on every number" }
                      automation_enabled: { type: boolean }
                      opt_out_autoreply_enabled: { type: boolean }
                      default_automation_enabled: { type: [boolean, "null"] }
                      default_opt_out_autoreply_enabled: { type: [boolean, "null"] }
        '403': { description: insufficient_scope }
        '422': { description: invalid_request (no field / non-boolean value) }

  /account/retention:
    patch:
      summary: KVKK data retention periods (days). Stored per account; currently enforced for call records only (message and media purge not yet active)
      tags: [Account]
      operationId: updateRetention
      security: [{ BearerAuth: ["profile:write"] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                messages_days: { type: integer, minimum: 1, maximum: 3650 }
                media_days: { type: integer, minimum: 1, maximum: 3650 }
                webhook_deliveries_days: { type: integer, minimum: 1, maximum: 365 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  retention:
                    type: object
                    properties:
                      messages_days: { type: [integer, "null"] }
                      media_days: { type: [integer, "null"] }
                      webhook_deliveries_days: { type: [integer, "null"] }
                  note: { type: string }
        '403': { description: insufficient_scope }
        '422': { description: invalid_request (no field / out of range / not an integer) }

  /privacy/erasure:
    post:
      summary: KVKK erasure (right to be forgotten) for one end user; emits privacy.erasure_completed
      description: |
        Deletes messages, conversations, media, webhook delivery bodies and idempotency records for the
        given end user. Idempotent. Either wa_id or user_id is required.
      tags: [Account]
      operationId: privacyErasure
      security: [{ BearerAuth: ["profile:write"] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                wa_id: { type: string, description: "End-user phone (E.164 digits, 8-15)", example: "905550000000" }
                user_id: { type: string, description: "End-user BSUID (alternative to wa_id)" }
                phone_number_id: { type: string, description: "Optional; must belong to your account", example: "1234567890" }
      responses:
        '202':
          description: Completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  status: { type: string, example: completed }
                  erasure_id: { type: string, example: "ers_0123456789abcdef01234567" }
                  phone_number_id: { type: [string, "null"] }
                  wa_id: { type: [string, "null"] }
                  user_id: { type: [string, "null"] }
                  completed_at: { type: string, format: date-time }
                  erased: { type: object, description: "Per-table deletion counts" }
        '403': { description: insufficient_scope }
        '404': { description: number_not_found }
        '422': { description: invalid_request }
        '500': { description: erasure_failed }

  /test/inbound:
    post:
      summary: "Sandbox: inject a synthetic inbound message (test keys only)"
      description: |
        Only with a vmk_test_ key. The synthetic message goes through the real inbound pipeline and
        signed message.received / message.revoked / message.edited events are delivered to your active
        webhook subscriptions. Nothing is sent to Meta.
      tags: [Messages]
      operationId: testInbound
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone_number_id]
              properties:
                phone_number_id: { type: string, example: "1234567890" }
                type: { type: string, enum: [text, revoke, edit], default: text }
                from: { type: string, description: "Sender phone, 8-15 digits", default: "905550000000" }
                text: { type: string, maxLength: 4096, description: "Required for text and edit" }
                original_message_id: { type: string, description: "Target message for revoke/edit" }
      responses:
        '202':
          description: Injected
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  mode: { type: string, example: test }
                  simulated: { type: boolean }
                  phone_number_id: { type: string }
                  injected: { type: object }
                  note: { type: string }
        '403': { description: test_only (live key) }
        '404': { description: number_not_found }
        '422': { description: invalid_request }
        '500': { description: test_inbound_failed }

  # ── Calling (WhatsApp Cloud API) — 2026-10-08. No credits charged; Meta bills business-initiated calls directly.
  /numbers/{phone_number_id}/calling:
    get:
      summary: Calling settings of a number
      tags: [Calling]
      operationId: getCallingSettings
      security: [{ BearerAuth: ["calls:read"] }]
      parameters:
        - { name: phone_number_id, in: path, required: true, schema: { type: string } }
        - { name: raw, in: query, required: false, schema: { type: boolean }, description: "Include Meta's raw calling object (SIP config stripped)" }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CallingSettings' }
        '404': { description: number_not_found }
    patch:
      summary: Update calling settings (only provided fields change)
      tags: [Calling]
      operationId: updateCallingSettings
      security: [{ BearerAuth: ["calls:write"] }]
      parameters:
        - { name: phone_number_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled: { type: boolean }
                callback_permission: { type: boolean }
                call_icon_visibility: { type: string, enum: [DEFAULT, DISABLE_ALL] }
                call_hours:
                  type: object
                  properties:
                    status: { type: string, enum: [ENABLED, DISABLED] }
                    timezone_id: { type: string, example: Europe/Istanbul }
                    weekly_operating_hours:
                      type: array
                      items:
                        type: object
                        properties:
                          day_of_week: { type: string, enum: [MONDAY, TUESDAY, WEDNESDAY, THURSDAY, FRIDAY, SATURDAY, SUNDAY] }
                          open_time: { type: string, example: "0900" }
                          close_time: { type: string, example: "1800" }
                    holiday_schedule: { type: array, items: { type: object } }
      responses:
        '200': { description: Updated settings }
        '404': { description: number_not_found }
        '422': { description: invalid_request }

  /calls:
    get:
      summary: Call history (newest first)
      tags: [Calling]
      operationId: listCalls
      security: [{ BearerAuth: ["calls:read"] }]
      parameters:
        - { name: phone_number_id, in: query, required: false, schema: { type: string } }
        - { name: from, in: query, required: false, schema: { type: string, format: date-time } }
        - { name: to, in: query, required: false, schema: { type: string, format: date-time } }
        - { name: peer, in: query, required: false, schema: { type: string }, description: "Other party's number" }
        - { name: limit, in: query, required: false, schema: { type: integer, minimum: 1, maximum: 100, default: 50 } }
        - { name: cursor, in: query, required: false, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  calls: { type: array, items: { $ref: '#/components/schemas/Call' } }
                  has_more: { type: boolean }
                  next_cursor: { type: [string, "null"] }
    post:
      summary: Start a business-initiated call (requires the user's call permission)
      tags: [Calling]
      operationId: startCall
      security: [{ BearerAuth: ["calls:write"] }]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone_number_id, to, sdp_offer]
              properties:
                phone_number_id: { type: string }
                to: { type: string, example: "905551234567" }
                sdp_offer: { type: string, description: "WebRTC SDP offer (RFC 8866)" }
                biz_opaque: { type: string, maxLength: 512 }
      responses:
        '201':
          description: Call initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  call_id: { type: string }
                  status: { type: string, example: initiated }
                  direction: { type: string, example: business_initiated }
        '403': { description: call_permission_required }
        '409': { description: calling_not_enabled / meta_outcome_unknown }
        '422': { description: invalid_sdp / invalid_phone / calling_not_available_in_country }

  /calls/{call_id}/pre_accept:
    post:
      summary: Pre-accept an incoming call (idempotent per call_id + action)
      tags: [Calling]
      operationId: preAcceptCall
      security: [{ BearerAuth: ["calls:write"] }]
      parameters:
        - { name: call_id, in: path, required: true, schema: { type: string }, description: "URL-encoded; if it contains '/', use '_' and send body.call_id" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CallAnswer' }
      responses:
        '200': { description: OK (a repeat returns the first result with Idempotent-Replay header) }
        '404': { description: call_not_found }
        '409': { description: call_ended / call_action_conflict / action_in_progress }

  /calls/{call_id}/accept:
    post:
      summary: Accept an incoming call
      tags: [Calling]
      operationId: acceptCall
      security: [{ BearerAuth: ["calls:write"] }]
      parameters:
        - { name: call_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CallAnswer' }
      responses:
        '200': { description: OK }
        '404': { description: call_not_found }
        '409': { description: call_ended / call_action_conflict }

  /calls/{call_id}/reject:
    post:
      summary: Reject an incoming call
      tags: [Calling]
      operationId: rejectCall
      security: [{ BearerAuth: ["calls:write"] }]
      parameters:
        - { name: call_id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: OK }
        '404': { description: call_not_found }

  /calls/{call_id}/terminate:
    post:
      summary: Terminate a call (the only action for business-initiated calls)
      tags: [Calling]
      operationId: terminateCall
      security: [{ BearerAuth: ["calls:write"] }]
      parameters:
        - { name: call_id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: OK }
        '404': { description: call_not_found }

  /calls/permission-request:
    post:
      summary: Ask the user for call permission (interactive call_permission_request message)
      tags: [Calling]
      operationId: requestCallPermission
      security: [{ BearerAuth: ["calls:write"] }]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone_number_id, to]
              properties:
                phone_number_id: { type: string }
                to: { type: string }
                body: { type: string, maxLength: 1024 }
      responses:
        '201': { description: "Sent: { ok, message_id, to }" }
        '422': { description: outside_service_window / invalid_phone }
        '429': { description: permission_request_limited }

  /calls/permission:
    get:
      summary: Call permission status for a user
      tags: [Calling]
      operationId: getCallPermission
      security: [{ BearerAuth: ["calls:read"] }]
      parameters:
        - { name: phone_number_id, in: query, required: true, schema: { type: string } }
        - { name: to, in: query, required: true, schema: { type: string } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  status: { type: string, enum: [no_permission, temporary, permanent] }
                  expires_at: { type: [string, "null"], format: date-time }
                  can_request: { type: [boolean, "null"] }
                  can_call: { type: boolean }
                  actions: { type: array, items: { type: object } }
