openapi: 3.1.0
info:
  title: VeriMerkezi WhatsApp API
  description: |
    Tech Provider REST API for sending WhatsApp Business Cloud messages,
    managing contacts, templates, and business profiles.

    Per-message credit model. Test mode keys (`vmk_test_...`) are free.
  version: "2.0.0"
  contact:
    name: Veri Merkezi
    url: https://verimerkezi.app
    email: bilgi@verimerkezi.app
  license:
    name: Proprietary

servers:
  - url: https://api.verimerkezi.app/wa
    description: Production

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: "vmk_live_xxx or vmk_test_xxx"
      description: API key - create one at panel/api.

  schemas:
    Error:
      type: object
      properties:
        ok: { type: boolean, example: false }
        error:
          type: object
          properties:
            code: { type: string, example: insufficient_credits }
            message: { type: string }
            field: { type: string, nullable: true }

    Contact:
      type: object
      properties:
        id: { type: integer }
        phone: { type: string, example: "+905551234567" }
        name: { type: string }
        email: { type: string, nullable: true }
        company: { type: string, nullable: true }
        tags: { type: array, items: { type: string } }
        source: { type: string }
        opted_out: { type: boolean }
        created_at: { type: string, format: date-time }

    Template:
      type: object
      properties:
        id: { type: integer }
        meta_template_id: { type: string, nullable: true }
        name: { type: string }
        language: { type: string, example: tr }
        category: { type: string, enum: [MARKETING, UTILITY, AUTHENTICATION] }
        status: { type: string, enum: [DRAFT, PENDING, APPROVED, REJECTED, FLAGGED, PAUSED] }
        components: { type: array, items: { type: object } }
        rejected_reason: { type: string, nullable: true }

    Number:
      type: object
      properties:
        id: { type: integer }
        waba_id: { type: string }
        phone_number_id: { type: string }
        display_phone_number: { type: string }
        verified_name: { type: string }
        quality_rating: { type: string, enum: [GREEN, YELLOW, RED, UNKNOWN] }
        status: { type: string }
        connection_type: { type: string, enum: [standard, coexistence] }

  parameters:
    IdempotencyKey:
      in: header
      name: Idempotency-Key
      required: false
      schema: { type: string }
      description: Replays cached response for duplicate requests (24h TTL).

paths:
  /me:
    get:
      summary: Account info and credit balance
      tags: [Account]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  user: { type: object }
                  api_key: { type: object }
                  credits:
                    type: object
                    properties:
                      balance: { type: integer }
                      packages: { type: array, items: { type: object } }

  /numbers:
    get:
      summary: List connected WhatsApp numbers
      tags: [Numbers]
      security: [{ BearerAuth: [profile:read] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  numbers:
                    type: array
                    items: { $ref: "#/components/schemas/Number" }

  /messages:
    post:
      summary: Send a template or text message
      description: |
        Live mode consumes 1 credit. Test mode is free.
        Media (image/video/audio/document) is free-form and only deliverable within the 24h customer service window; otherwise use a template. 1 credit. Provide media by public https `link` (or Meta media `id`). Limits: image ≤5MB, video ≤16MB, audio ≤16MB, document ≤100MB.
      tags: [Messages]
      security: [{ BearerAuth: [messages:send] }]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone_number_id, to]
              properties:
                phone_number_id: { type: string }
                to: { type: string, example: "905551234567" }
                type:
                  type: string
                  enum: [image, video, audio, document]
                  description: "Media type. Set when sending a free-form media message."
                template:
                  type: object
                  properties:
                    name: { type: string }
                    language: { type: string, example: tr }
                    components:
                      type: array
                      description: >-
                        Meta template component objects. Add a `body` component for body variables and,
                        for a dynamic URL button, a `button` component:
                        `{ "type": "button", "sub_type": "url", "index": 0, "parameters": [{ "type": "text", "text": "..." }] }`
                        — its parameters[0].text fills the trailing `{{1}}` of the template URL button
                        (one variable, at the end of the URL; API send only).
                      items: { type: object }
                text: { type: string, description: "Plain text body. Only within the 24h customer service window." }
                image:
                  type: object
                  description: "Image media. Provide a public https link (or Meta media id)."
                  properties:
                    link: { type: string, format: uri, example: "https://example.com/photo.jpg" }
                    caption: { type: string }
                video:
                  type: object
                  description: "Video media. Provide a public https link (or Meta media id)."
                  properties:
                    link: { type: string, format: uri, example: "https://example.com/video.mp4" }
                    caption: { type: string }
                audio:
                  type: object
                  description: "Audio media. Provide a public https link (or Meta media id)."
                  properties:
                    link: { type: string, format: uri, example: "https://example.com/audio.mp3" }
                document:
                  type: object
                  description: "Document media. Provide a public https link (or Meta media id)."
                  properties:
                    link: { type: string, format: uri, example: "https://example.com/file.pdf" }
                    caption: { type: string }
                    filename: { type: string, example: "fatura.pdf" }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  id: { type: integer }
                  wamid: { type: string }
                  to: { type: string }
                  type: { type: string, enum: [template, text, image, video, audio, document] }
                  status: { type: string, example: sent }
                  mode: { type: string, enum: [live, test] }
                  simulated: { type: boolean }
                  credits_used: { type: integer }
                  balance: { type: integer }
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        '404':
          description: Number not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        '422':
          description: Validation or Meta error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /messages/read:
    post:
      summary: Mark an incoming message as read + optional typing indicator
      description: "Marks the incoming message as read (blue tick). typing:true shows a ~25s 'typing…' indicator. No credit."
      tags: [Messages]
      security: [{ BearerAuth: [messages:send] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone_number_id, message_id]
              properties:
                phone_number_id: { type: string }
                message_id: { type: string }
                typing: { type: boolean, default: false }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  marked_read: { type: boolean }
                  typing: { type: boolean }

  /contacts:
    get:
      summary: List contacts (cursor pagination)
      tags: [Contacts]
      security: [{ BearerAuth: [contacts:read] }]
      parameters:
        - in: query
          name: cursor
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, default: 50, maximum: 200 }
        - in: query
          name: q
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  contacts:
                    type: array
                    items: { $ref: "#/components/schemas/Contact" }
                  next_cursor: { type: string, nullable: true }
                  has_more: { type: boolean }
    post:
      summary: Create a single contact
      tags: [Contacts]
      security: [{ BearerAuth: [contacts:write] }]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, name]
              properties:
                phone: { type: string }
                name: { type: string }
                country_code: { type: string, default: "90" }
                email: { type: string }
                company: { type: string }
                tags: { type: array, items: { type: string } }
      responses:
        '201': { description: Created }
        '409':
          description: Duplicate
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /contacts/bulk:
    post:
      summary: Bulk insert contacts (max 1000)
      tags: [Contacts]
      security: [{ BearerAuth: [contacts:write] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contacts]
              properties:
                contacts:
                  type: array
                  maxItems: 1000
                  items:
                    type: object
                    properties:
                      phone: { type: string }
                      name: { type: string }
                      email: { type: string }
                      company: { type: string }
                      tags: { type: array, items: { type: string } }
                skip_duplicates: { type: boolean, default: true }
                country_code: { type: string, default: "90" }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  inserted: { type: integer }
                  skipped: { type: integer }
                  errors: { type: array, items: { type: object } }

  /templates:
    get:
      summary: List approved templates
      tags: [Templates]
      security: [{ BearerAuth: [templates:read] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  templates:
                    type: array
                    items: { $ref: "#/components/schemas/Template" }

  /profile/{phone_number_id}:
    get:
      summary: Read WhatsApp Business Profile
      tags: [Profile]
      security: [{ BearerAuth: [profile:read] }]
      parameters:
        - in: path
          name: phone_number_id
          required: true
          schema: { type: string }
      responses:
        '200': { description: OK }
        '404':
          description: Number not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    patch:
      summary: Update WhatsApp Business Profile
      tags: [Profile]
      security: [{ BearerAuth: [profile:write] }]
      parameters:
        - in: path
          name: phone_number_id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                about: { type: string, maxLength: 139 }
                description: { type: string, maxLength: 512 }
                address: { type: string, maxLength: 256 }
                email: { type: string }
                vertical: { type: string }
                websites: { type: array, maxItems: 2, items: { type: string } }
      responses:
        '200': { description: Updated }

  /reports/summary:
    get:
      summary: Report summary
      tags: [Reports]
      security: [{ BearerAuth: [reports:read] }]
      parameters:
        - in: query
          name: period
          schema: { type: string, enum: [7d, 30d, 90d], default: 30d }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  period: { type: string }
                  sent: { type: integer }
                  delivered: { type: integer }
                  read: { type: integer }
                  failed: { type: integer }
                  delivery_rate: { type: number }
                  read_rate: { type: number }
                  failure_rate: { type: number }
                  balance: { type: integer }

  /credit/balance:
    get:
      summary: Current credit balance
      tags: [Credit]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  balance: { type: integer }

  /credit/packages:
    get:
      summary: List available credit packages
      tags: [Credit]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  packages:
                    type: array
                    items: { type: object }

  /credit/usage:
    get:
      summary: Credit usage over a window
      tags: [Credit]
      security: [{ BearerAuth: [reports:read] }]
      parameters:
        - in: query
          name: days
          schema: { type: integer, default: 30 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  days: { type: integer }
                  usage: { type: array, items: { type: object } }

  /credit/transactions:
    get:
      summary: List credit transactions (cursor pagination)
      tags: [Credit]
      security: [{ BearerAuth: [reports:read] }]
      parameters:
        - in: query
          name: limit
          schema: { type: integer, default: 50, maximum: 200 }
        - in: query
          name: cursor
          schema: { type: string }
        - in: query
          name: type
          schema: { type: string }
        - in: query
          name: source
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  transactions:
                    type: array
                    items: { type: object }
                  next_cursor: { type: string, nullable: true }
                  has_more: { type: boolean }
